<!DOCTYPE html>
<html>

<head>
	<title>
		Provdr
	</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://github.com/jasonzissman/TimeMe.js/blob/master/timeme.js" type="text/javascript"></script>
	<style>
	.nav justify-content-end li a:hover{
		background-color: #ddd;

	}
	</style>
	</head>

<body style="background-color: #EEE2DC;">
	<nav class="navbar navbar-dark bg-dark" style="
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.2s;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Providr</a>
			</div>

			<div class=" navbar-item">
        <ul class="nav justify-content-end">
          <li style="padding: 0px 20px 0px 0px;">
            <a href="#" style="color: white;">Features</a>
          </li>
          <li style="padding: 0px 20px 0px 0px;">
            <a href="#" style="color: white;">Pricing</a>
          </li>
          <li style="padding: 0px 20px 0px 0px;">
            <a href="#" style="color: white;">Contact</a>
          </li>

						<li style="padding: 0px 20px 0px 0px;">
							<a href="#" style="color: white;">Login</a>
						</li>

            <li>
              <a style="display: inline-block; color: white;" href="#">Signup</a>
            </li>


							<li style="color: white; padding: 0px 20px 0px 0px;">Signed in as
							username
							</li>

							<li>
								<a href="#" style="display: inline-block; color: white; margin-left: 20px;">Logout</a>
							</li>

				</ul>

			</div>
		</div>

	</nav>

  <div class="jumbotron jumbotron-fluid">
  <div class="container" style="text-align:center; height:400px; padding: 110px 110px">
    <h1 class="display-4">add content</h1>
    <p class="lead">Add anytihng u want.</p>
    <div style="margin:auto; text-align:center;">
    <button type="button" class="btn btn-primary" href="#">Join</button>
    <button type="button" class="btn btn-outline-info" href="#" style="display:inline;">Learn More</button>
    </div>
  </div>
</div>
<div style="text-align:center; height:200px; padding: 40px 40px;">
  <h2> Support community in difficult time</h2>
	<span>
  <a href="#" style="color:black;"><i class="fa fa-suitcase"> <span>add name</span></i></a>
</span>
<span style="margin-left:30px;">
  <a href="#" style="color:black;"> <i class="fa fa-life-ring"> <span>add name</span></i></a>
</span>
<span style="margin-left:30px;">
<a href="#" style="color:black;"><i class="fa fa-wrench"> <span>add name</span></i></span></a>
</span>
  </div>
  </body>
