<!DOCTYPE html>
<html>

	<head>
		<title>
			Provdr
		</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://github.com/jasonzissman/TimeMe.js/blob/master/timeme.js" type="text/javascript"></script>
		<style>
			.nav justify-content-end li a:hover {
				background-color: #ddd;

			}
		</style>
	</head>

	<body style="background-color: #EEE2DC;">
		<nav class="navbar navbar-dark bg-dark" style="
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.2s;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Providr</a>
				</div>

				<div class=" navbar-item">
					<ul class="nav justify-content-end">


						<li style="padding: 0px 20px 0px 0px;">
							<a href="#" style="color: white;">Login</a>
						</li>
						<li>
							<a style="display: inline-block; color: white;" href="#">Signup</a>
						</li>



						<li style="color: white; padding: 0px 20px 0px 0px;">Signed in as
							username
						</li>

						<li>
							<a href="#" style="display: inline-block; color: white; margin-left: 20px;">Logout</a>
						</li>

					</ul>

				</div>
			</div>

		</nav>
	</body>

</html>
