<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-donations">

                <div class=" card-header">
                    <h5 class="card-title">Total Donation Request(s)</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_donations}}</h3>
                </div>
            </div>
        </div>
    </div>




    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="donations-delivered">

                <div class=" card-header">
                    <h5 class="card-title">Donations Made</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delivered}}</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="donations-pending">

                <div class=" card-header">
                    <h5 class="card-title">Donations Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>